@use "../../../../sass/abstract/" as *;

.sectino1-main {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    .image-card-section1 {
        width: 200px;
        height: 200px;

        border-radius: 50%;
        background-color: #33efa0;
        display: flex;
        align-items: center;
        justify-content: center;

        .image-card {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.contact-lists {
    width: 100%;
    display: flex;
    // align-items: center;
    gap: 10px;
}

.left-move {
    padding-left: 3%;
    cursor: pointer;
    color: #595959;
    font-weight: 550;
}

// edutcation

.skill-section1 {
    background-color: white;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 6px 20px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ecf2fb;
    border-radius: 10px;
    cursor: pointer;
    gap: 2px;
    padding: 10px 0px;
    // color: #2f327d;
    // color: white
    font-weight: 550;
    position: relative;
    @include mdBreakPoint {
        width: 200px !important;
        gap: 30px !important;
        flex-direction: column !important;
        margin: 10px;
    }
    .image-section-skill-card {
        position: absolute;
        width: 23px;
        height: 23px;
        // background-color: #f48c06;
        right: -5px;
        top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 4px;
        color: white;
    }
}

.skill-card:hover {
    background-color: #4ee381;
    color: white;
}

.tick {
    width: 15px;
    height: 15px;
    object-fit: contain;
    border-radius: 50%;
}

// contactr

.contact-details-section1 {
    background-color: white;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 6px 20px;
}

.images {
    width: 100px;
    height: 80px;
    object-fit: contain;

    transition: 2s;
}

.images:hover {
    transform: translateY(-5px) rotate(360deg);
}
.main-cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cardsssss {
    width: 20%;
    @include xsBreakPoint {
        width: 50%;
    }
}

.box {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff2e1;
    color: #23bdee;
    animation: topicon 5s ease-in-out;
    transition: 1s;
}

.box:hover {
    transform: translateY(-12px) rotate(360deg);
}

.box1 {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23bdee;
    color: white;
    animation: topicon 5s ease-in-out;
    transition: 1s;
}

.box1:hover {
    transform: translateY(-12px) rotate(360deg);
}
