@use "../../../../sass/abstract/" as *;

.content-experience {
    width: 100%;
    display: flex;
    padding-left: 5.5%;
    align-items: center;
    gap: 15px;
}
.right-experience {
    width: 90%;
    color: #696984;
    font-weight: 400;
}
.dotts {
    width: 15px;
    height: 15px;
    background-color: #23bdee;
    border-radius: 50%;
}
