@use "../../../../sass/abstract/" as *;

.section2-main {
    width: 100%;
    height: 210px;
    // border: 1px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .name {
        font-size: 3.5rem;
        font-weight: 600;
    }
    .domain-name {
        font-size: 1.4rem;
        display: flex;
        gap: 10px;
        @include xsBreakPoint {
            flex-direction: column;
            align-items: center;
        }
    }
}

.about-text {
    color: #696984;
    width: 100%;
    padding-left: 3%;
    line-height: 1.6;
    @include xsBreakPoint {
        padding: 0px 20px;
        line-height: 1.8;
    }
    @include smBreakPoint {
        padding: 0px 20px;
        line-height: 1.8;
    }
    @include lgBreakPoint {
        padding: 0px 15px;
        line-height: 1.8;
    }
    @include xlBreakPoint {
        padding: 0px 20px;
        line-height: 1.8;
    }
}

.small-text {
    color: #696984;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.hand {
    font-size: 1.4rem;
    padding-left: 10px;
    transition: 2s;
    animation: hands 3s ease-in infinite;
}

@keyframes hands {
    0% {
        transform: rotate(-20deg);
    }
    50% {
    }
    100% {
        transform: rotate(0deg);
    }
}
